
body {
	margin: 0px;
}
body > div{
	display: flex;
	flex-flow:  row wrap;
	min-width: 800px;
}

body > div > header,  nav, main, aside, footer {
	background: #ccc; 
	border-radius: 7px; 
	margin: 5px; 
	padding: 20px;
}
body > div > header {
	order: 1;
	height:  100px;
	flex: 0 1 100%;
}

body > div > nav {
	order: 2;
	flex: 0 1 200px;
}
body > div > main {
	order: 3;
	min-height: 400px;
	flex: 1;
}
body > div > aside {
	order: 4;
	flex: 0 1 200px;
}
body > div > footer {
	order: 5;
	height: 100px;
	flex: 0 1 100%;
}