
<div ng-controller="newPlaceCtrl" class="asidecontent">
    <h3>Your Recent Reviews</h3>
    <p ng-repeat="item in allYourReviews.slice().reverse() | limitTo: 4">
                title: {{item.title}}
                Company: {{item.companyName}}<br>
                Your Review: {{item.yourReview}}<br>
                Stars: {{item.stars}} Stars
            </p>
        

</div>
<div class="container" >


    
    <!-- <h3 class="clearfix">
        <img class="pull-left" src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/AngularJS_logo.svg/695px-AngularJS_logo.svg.png"/>
        <img class="pull-right" src="http://upload.wikimedia.org/wikipedia/commons/9/9a/Google_maps_logo.png"/>
    </h3> -->
    <div ng-show="formVar" class="reviewHeader">

        <h3>
            Welcome back {{yourUsername}}!
        </h3>
    </div>

    <div ng-hide="formVar" class="reviewHeader">

        <h3>
            Hey {{yourUsername}}, Your about to put a review for {{place.name}} 
        </h3>
    </div>
    <div ng-hide="formVar" class="newDiv"><img src={{newphotos}}></div>
    <form ng-hide="formVar" name="resForm" class="form-horizontal" novalidate 
    ng-submit="send()">
        <div class="form-group">
            <label for="resName" class="col-xs-2 control-label">Name</label>
            <div class="col-xs-10">
                <input name="resName" type="text" class="form-control" 
                ng-model="place.name" required />
            </div>
        </div>
        <div class="form-group">
            <label for="resLat" class="col-xs-2 control-label">Location</label>
            <div class="col-xs-10">
                <input name="resLat" type="text" class="form-control" 
                ng-model="place.vicinity" required />
            </div>
        </div>
        <div class="form-group">
            <label for="resLat" class="col-xs-2 control-label">Title</label>
            <div class="col-xs-10">
                <input name="resLat" type="text" class="form-control" 
                ng-model="place.title" required />
            </div>
        </div>
        <div class="form-group">
            <label for="resLat" class="col-xs-2 control-label">Your Review</label>
            <div class="col-xs-10">
                <textarea rows="5" name="Text1" cols="40" rows="5" class="form-control" 
                ng-model="place.yourreview" required /></textarea>
            </div>
        </div>
        <span class="rating" >
        <input ng-click="starsRating(5)"type="radio" class="rating-input"
    id="rating-input-1-5" name="rating-input-1"/>
        <label for="rating-input-1-5" class="rating-star"></label>
        <input ng-click="starsRating(4)"type="radio" class="rating-input"
                id="rating-input-1-4" name="rating-input-1"/>
        <label for="rating-input-1-4" class="rating-star"></label>
        <input ng-click="starsRating(3)" type="radio" class="rating-input"
                id="rating-input-1-3" name="rating-input-1"/>
        <label for="rating-input-1-3" class="rating-star"></label>
        <input ng-click="starsRating(2)" type="radio" class="rating-input"
                id="rating-input-1-2" name="rating-input-1"/>
        <label for="rating-input-1-2" class="rating-star"></label>
        <input ng-click="starsRating(1)"type="radio" class="rating-input"
                id="rating-input-1-1" name="rating-input-1"/>
        <label for="rating-input-1-1" class="rating-star"></label>
</span>
  
        <!-- <div class="form-group">
            <label for="resLng" class="col-xs-2 control-label">Longitude</label>
            <div class="col-xs-10">
                <input name="resLng" type="number" class="form-control" 
                ng-model="place.lng" required />
            </div>
        </div> -->
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button class="btn btn-success" 
                ng-disabled="resForm.$invalid">Confirm</button>


            </div>


        </div>


    </form>
    <button ng-hide="formVar" ng-click="formVar = true">Go Back</button>
    
    <div class="alert alert-danger text-center" role="alert" ng-show="apiError">
        <b> Error : </b>
        <span>{{ apiStatus }}</span>
    </div>
    <div ng-show="formVar">
   <select class="searchForm"><option value="SearchReviews">Search Reviews</option><option value="WriteReviews">Write Reviews</option></select><form name="searchForm" novalidate 
    ng-submit="search()">
        <div class="input-group">
            <input id="pac-input" name="place" type="text" class="form-control" 
            ng-model="searchPlace" required autofocus />
            <span class="input-group-btn">
                <button class="btn btn-primary" 
                ng-disabled="searchForm.$invalid">Submit</button>
            </span>
        </div>
    </form>
</div>
    <br>
    
    
    

        
    <div id="map"></div>
    

    <div id="map-canvas"></div>
</div>


