</head>
<div class="navDiv">
	
			
			<ul>
				
					
					<h3><a class="lgnbtn" href="/#/register">Register</a></h3>
					<br>
					<h3><a class="lgnbtn" href="#/home">Home</a></h3>
			    
		    </ul>
	    
	</div>

<body>


	<div id="login">

		<h2><span class="fontawesome-lock"></span>Log In</h2>

		<form action="javascript:void(0);" method="POST">

			<fieldset>

				<p><label for="User Name">User Name</label></p>
				<p><input ng-model="username" type="User Name" id="User Name" value="User Name" onBlur="if(this.value=='')this.value='User Name'" onFocus="if(this.value=='User Name')this.value=''"></p>

		
				<p><label for="password">Password</label></p>
				<p><input ng-model="password" type="password" id="password" value="password" onBlur="if(this.value=='')this.value='password'" onFocus="if(this.value=='password')this.value=''"></p> <!-- JS because of IE support; better: placeholder="password" -->

				<p><input type="submit" value="Sign In" ng-click="login()"></p>
				<a href="#/register">Not a member yet? Register here</a>

			</fieldset>

		</form>

	</div> <!-- end login -->

</body>	
</html>